@model TodoList.Models.TodoItem

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>TodoItem</h4>
<hr />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.CreatedOn, "Created on", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CreatedOn, new { @class = "form-control", @type="date"})
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CompleteOn, "Complete by", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CompleteOn, new { @class = "form-control", @type = "Date" })
                <span asp-validation-for="CompleteOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Objective, "Task", new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Objective, new { @class = "form-control", @type = "text" })
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

