@model TodoList.Models.TodoItem
@{
        ViewData["Title"] = "Items";
 }

<div class="jumbotron">
    <h1>Items</h1>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Added on</th>
            <th scope="col">Objective</th>
            <th scope="col">(To be)Completed On</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Id != null)
        {
            <tr>
                <th scope="row">@Model.Id</th>
                <th scope="row">@Model.Objective</th>
                <th scope="row">@Model.CompleteOn</th>
                <th scope="row">@Html.DropDownListFor(model => model.Priority , Model.Priority)</th>
                <th scope="row">@Html.DropDownListFor(model => model.Status, Model.Status)</th>
            </tr>
        }
    </tbody>
</table>