@model IEnumerable<TodoList.Models.TodoItem>
@{
        ViewData["Title"] = "Items";
 }

<div class="jumbotron">
    <h1>Items</h1>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Added on</th>
            <th scope="col">Objective</th>
            <th scope="col">(To be)Completed On</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.CreatedOn</td>
                    <td>@item.Objective</td>
                    <td>@item.CompleteOn</td>
                    <td>@item.Priority</td>
                    <td>@item.Status</td>
                </tr>
            }

        }
    </tbody>
</table>