@model IEnumerable<TodoList.Models.TodoItem>
@{
    ViewData["Title"] = "Items";
}

<div class="jumbotron rare-wind-gradient text-center">
    <h1 class="card-title h1-responsive">Todo List</h1>
</div>
<a class="btn btn-dark-green pull-right" href="@Url.Action("Add")" role="button">Add</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Added on</th>
            <th scope="col">Objective</th>
            <th scope="col">Complete by</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>@item.CreatedOn.ToShortDateString()</td>
            <td>@item.Objective</td>
            <td>@item.CompleteOn.ToShortDateString()</td>
            <td>@item.Priority</td>
            <td>@item.Status</td>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-cyan btn-sm margin-right white-text">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm white-text">
                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                    </a>
                </div>
            </td>
        </tr>
            }

        }
    </tbody>
</table>